#Button { 
	padding: 0.3em; 
	font-size: 14px; 
	font-size: 21px; 
	font-weight: 300; 
	max-width: 35em; 
	height: 44px; 
	border: 1px solid #f0f0f0; 
	color:#f0f0f0;
	background: #336699; 
	width: 350px; 
	}
	
#Input { 
	padding: 0.3em; 
	font-size: 14px; 
	font-size: 21px; 
	font-weight: 300; 
	max-width: 35em; 
	height: 44px; 
	border: 1px solid #f0f0f0; 
	background: #fcfcfc; 
	width: 350px; 
	}
	
#InputBig { 
	padding: 0.3em; 
	font-size: 14px; 
	font-size: 21px; 
	font-weight: 300; 
	max-width: 35em; 
	height: 44px; 
	border: 1px solid #f0f0f0; 
	background: #fcfcfc; 
	width: 650px; 
	}
	
#InputTextBox { 
	padding: 0.3em; 
	font-size: 14px; 
	font-size: 21px; 
	font-weight: 300; 
	max-width: 35em; 
	height: 44px; 
	border: 1px solid #f0f0f0; 
	background: #fcfcfc; 
	width: 650px; 
	}	
	
#TopMenu {

	position:absolute;
	top:10px;
	float:right;
	right:20px;
	font-size:24px;
	margin:50px 0px 10px 0px;
	padding:17px 0px 0px 20px;

	height:33px; /* 14px + 17px + 2px = 33px */

	line-height:11px;

	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */

	}

body>#TopMenu {height:14px;}


body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#336699;
	background-color:white;
	/*color:#333;*/
	/*background-color:gray;*/
	/*background-image: url(/a.jpg);*/
	background-attachment: fixed;
	}


	

h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
/*	color:#ccc;*/
	}


h2 {
	font-family:Palatino Linotype, Palatino, helvetica, verdana, arial, sans-serif;
}

	

p {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 10px 16px 10px;
	padding:0px;
	}


li {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	padding:0px;
	}


#Content>p {margin:0px; text-indent:30px;}


a {
	color:#09c;
	font-size:16px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
}
	

a:link {color:#09c;}
a:visited {color:#07a;}




fieldset {
	/*background: #f0f0f0; */
	padding: 0.3em; 
	border: 0px solid #f0f0f0; 
}






a:hover {background-color:#eee;}



#Header {
	font-size:24px;
	margin:50px 0px 10px 0px;
	padding:17px 0px 0px 20px;

	height:33px; /* 14px + 17px + 2px = 33px */


	line-height:11px;




	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */

	}


body>#Header {height:14px;}



#Content {
	margin:0px 210px 50px 10px;
	padding:10px;
	}


#Menu {
	position:absolute;
	top:100px;
	right:20px;
	width:172px;
	padding:10px;

	background-color:#f0f0f0;


	line-height:17px;


	voice-family: "\"}\"";
	voice-family:inherit;
	width:150px;
	}



body>#Menu {width:150px;}


.error {
	color:#FF0033;
	font-size:14px;
	}


	

div#nifty {

	background: #f0f0f0; /*eee; */

	}

div#nifty33 {
background: white;

	float:left;
	width: 30%;
	margin: 5px;
	

	}
	
div#nifty50{

	float:left;
	width: 48%;
	margin: 1%;
	}
	
div#nifty50r{

	float:right;
	width: 48%;
	margin: 1%;
	}

div#nifty100{

	float:left;
	width: 100%;
	margin: 5px;
	}

	
b.rtop, b.rbottom {
	display: block;
	background: #f0f0f0;
	background-attachment: fixed;
	}

b.rtop b, b.rbottom b{
	display: block;
	height: 1px;
	overflow: hidden;
	background: #f0f0f0;
	}

b.r1 {
	margin: 0 5px;
	}

b.r2 {
	margin: 0 3px;
	}

b.r3 {
	margin: 0 2px;
	}

b.rtop b.r4, b.rbottom b.r4 {
	margin: 0 1px;
	height: 2px;
	}
	

